.column{
    width: 100%;
    font-size: 0;
    letter-spacing: 0;
}

.column > div {
    font-size: initial;
    letter-spacing: initial;
    word-spacing: initial;
    vertical-align: top;
    display : inline-block;
    width : 40%;
}

.left {
    text-align: left;
    margin-right: 10%;
    margin-left: 5%;
}

.right {
    text-align: right;
    direction: rtl;
}

.columns {
    display: -webkit-flex;
    text-align: center;
    font-size: 0;
}

.columns > p {
    -webkit-flex: 1;
    font-size: large;
}

strong {
    font-weight: bold;
}

fieldset {
    padding: 0;
}