@import "changes.css";

.titre {
    break-after: avoid;
    font-weight: bold;
}

.column > div {
    vertical-align: middle;
}

.right {
    text-align: left;
    direction: ltr;
}

blockquote {
    margin-left: 1.5em;
}

img {
    border-radius: 5%;
}

a {
    color : blue;
}