@import "changes.css";

.titre {
    break-after: avoid;
    font-weight: bold;
}

.column > div {
    vertical-align: middle;
}

.right {
    text-align: left;
    direction: ltr;
}

blockquote {
    margin-left: 1.5em;
}

img {
    border-radius: 5%;
    width: 100%;
    height: 15em;
}

a {
    color : blue;
}

.poitiers
{
    width: 100%;
    height: 5em;
}

.genVsZomb {
    width: 80%;
    height: auto;
}

li {
    margin-bottom: 1em;
}

hr {
    margin-bottom: 1em;
}

figure {
    margin-top: 1.5em;
}

h2 {
    margin-top: 2em;
}